/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
}

h1 {
  color: lightblue
}

h2 {
  color: orange
}

h3 {
  color: lightcoral
}
